registry=https://pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/registry/:username=BridgestoneGlobal
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/registry/:_password=MkRLZ3VBR1hITVpIejd1Y0JLdXZ4NDNGaURVRFMyZWRBVnE3QjhIVk9GNU11MElFSzh5dkpRUUo5OUJHQUNBQUFBQXhxc1VLQUFBU0FaRE9CZEZa
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/registry/:email=test@icrossing.com
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/:username=BridgestoneGlobal
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/:_password=MkRLZ3VBR1hITVpIejd1Y0JLdXZ4NDNGaURVRFMyZWRBVnE3QjhIVk9GNU11MElFSzh5dkpRUUo5OUJHQUNBQUFBQXhxc1VLQUFBU0FaRE9CZEZa
//pkgs.dev.azure.com/BridgestoneGlobal/51a85d86-075a-4d8a-a850-f72e0164e2f1/_packaging/DesignSystems/npm/:email=test@icrossing.com
; end auth token