/* Decimal font */

/* Light */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-Light-Pro.woff2') format("woff2");
  font-weight: 100;
}

/* Light Italic */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-LightItalic-Pro.woff2') format("woff2");
  font-weight: 200;
}

/* Book */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-Book-Pro.woff2') format("woff2");
  font-weight: 500;
}

/* Medium */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-Medium-Pro.woff2') format("woff2");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-Bold-Pro.woff2') format("woff2");
  font-weight: 700;
}

/* Bold Italic */
@font-face {
  font-family: 'Decimal';
  src: url('./Decimal/Decimal-BookItalic-Pro.woff2') format("woff2");
  font-weight: 800;
}

/* BridgestoneType font */

/* Regular */
@font-face {
  font-family: 'BridgestoneType';
  src: url('./Bridgestone/BridgestoneType-Regular.woff2') format('woff2');
  font-weight: 300;
}

/* Italic */
@font-face {
  font-family: 'BridgestoneType';
  src: url('./Bridgestone/BridgestoneType-Italic.woff2') format('woff2');
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: 'BridgestoneType';
  src: url('./Bridgestone/BridgestoneType-Bold.woff2') format('woff2');
  font-weight: 800;
}

/* Bold Italic */
@font-face {
  font-family: 'BridgestoneType';
  src: url('./Bridgestone/BridgestoneType-BoldItalic.woff2') format('woff2');
  font-weight: 900;
}
